<!-- Turbo::StreamsChannel.broadcast_update_to(:channel_potatoes, target: "potato_bag", html: "<div>Chocolate potato</div>") -->
<!-- Turbo::StreamsChannel.broadcast_[action]_to(:channel_potatoes, target: "potato_bag", html: "<div>Chocolate potato</div>") -->
<!-- Turbo::StreamsChannel.broadcast_render_to(:channel_potatoes, target: "potato_bag", partial: "", locals: { message: "xyz" }) -->
<%= turbo_stream_from "channel_potatoes" %>
